{{#if conMensajes}}
    {{#each mensajes}}
        <div class="">
            <span style="color: blue; font-weight:bold">{{this.author.id}}</span>
            <span style="color: brown;">{{this.author.nombre}} {{this.author.apellido}}: </span>
            <span style="color: gray; font-style:italic">{{this.text}}</span>
        </div>
    {{/each}}
{{else}}
    <p class="fs-5 text-center">No hay mensajes.</p>
{{/if}}